{% extends "base.html" %}
{% block app_content %}
<div class="container">
<div class="row">
        <form class="col-md-6" method="post" action="{{ url_for('resize_img') }}" enctype="multipart/form-data">
            <label for="formFileMultiple" class="form-label">Resize images</label>
            <input class="form-control" type="file" name="tiny_file" id="formFileMultiple" multiple>
            <input type="text" name="resize_width" class="form-control" placeholder="width" aria-label="width" aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <div class="col-md-6" style="margin-top: 50px;">
        {% if status.get('tiny_progress') %}
          <p class="text-muted">{{ status.get('tiny_progress') }} files left...</p>
        {% elif status.get('tiny_result') %}
          <a href="{{ url_for('last_tiny') }}">Last result.</a>
        {% endif %}
        </div>
</div>
<div class="row">
  <form class="col-md-6" method="post" action="{{ url_for('resize_img') }}" enctype="multipart/form-data">
      <label for="formFileMultiple" class="form-label">Make a long image</label>
      <input class="form-control" type="file" name="long_file" id="formFileMultiple" multiple>
      <button type="submit" class="btn btn-primary">Upload</button>
  </form>
  <div class="col-md-6" style="margin-top: 50px;">
  {% if status.get('long_progress') %}
    <p class="text-muted">Gluing ...</p>
  {% elif status.get('long_result') %}
    <a href="{{ url_for('last_long') }}">Last result.</a>
  {% endif %}
  </div>
</div>

</div>
{% endblock %}